.btn {
   background-color: $couleur1;
   box-shadow: 1px 1px 1px 0px $couleurF1;
   border: none;
   color: $couleur3;
   font-size: $texteTaillePetit;
   //padding: 15px 32px;
   padding: .3rem .4em;
   text-align: center;
   align-items: center;
   text-decoration: none;
   display: inline-block;
   text-decoration: none;
   margin:0 .3em;
   cursor: pointer;
    border-radius: 5px;
    margin-bottom:0px;
    a {
      color:$couleurLight;
      text-decoration: none;
    }
    &.btn2 {
      //margin-bottom: 30px;
    }
}
